{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block titre %}{% trans 'New patient' %}{% endblock %}

{% block css_page %}
{% compress css %}
<link href="{% static "css/libreosteo.css" %}" rel="stylesheet"/>
{% endcompress %}
{% endblock %}

{% block contenu %}
<div id="page-wrapper">
  {# `data-testid="titre-nouveau-patient"` se conserve a l'octet : `helpers.creer_patient` #}
  {# et quatre sites de `test_patient.py` l'adressent. #}
  {# `page-header` (annexe A) sans equivalent : aucune regle `.page-header` dans #}
  {# `libreosteo.css`, la classe ne stylait deja rien. #}
  <h1 data-testid="titre-nouveau-patient">{% trans 'New patient' %}</h1>

  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
      {% include "pages/fragments/nouveau-patient-formulaire.html" %}
    </div>
  </div>
</div>
{% endblock %}
