{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block titre %}{% trans 'New patient' %}{% endblock %}

{% block css_page %}
{% compress css %}
<link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
<link href="{% static "css/libreosteo.css" %}" rel="stylesheet"/>
{% endcompress %}
{% endblock %}

{% block contenu %}
<div id="page-wrapper">
  {# `data-testid="titre-nouveau-patient"` se conserve a l'octet : `helpers.creer_patient` #}
  {# et quatre sites de `test_patient.py` l'adressent. #}
  <h1 class="page-header" data-testid="titre-nouveau-patient">{% trans 'New patient' %}</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      {% include "pages/fragments/nouveau-patient-formulaire.html" %}
    </div>
  </div>
</div>
{% endblock %}
