{% load i18n %}
{# Une entree du journal : un `<a href>` reel (A8) quand elle a une cible. `loadOfficeevent` #}
{# ecrivait `window.location.href` -- deux autorites sur un element, ce que C2 interdit. #}
{# L'ancre `evenement-cabinet` est conservee a l'octet, sur les deux formes : les #}
{# assertions du filet la comptent, et elles comptent les entrees, pas les liens. #}
{# Une entree sans cible (reglage de cabinet) n'est PAS une ancre : `<a href="">` est un #}
{# lien actif qui recharge la page courante, donc un clic qui ne mene nulle part. #}
<li class="clearfix officeevent">
  {% if entree.cliquable %}
  <a href="{{ entree.url }}" data-testid="evenement-cabinet">
    {% include "pages/fragments/evenement-contenu.html" %}
  </a>
  {% else %}
  <div data-testid="evenement-cabinet">
    {% include "pages/fragments/evenement-contenu.html" %}
  </div>
  {% endif %}
</li>
