{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block titre %}{% trans "Install LibreOsteo" %}{% endblock %}

{% block css_page %}
{% compress css %}
<link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{# L'installeur est par construction non authentifie : `InstallView.get` refuse en 403 des #}
{# qu'un `is_staff` existe (installation.py:85-86), et ni `request.officesettings` ni #}
{# `request.has_multiple_office` ne sont poses (middleware.py:153-177). Le bloc menu est #}
{# donc vide, pas seulement conditionne (C1). #}
{% block menu %}{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                    {% blocktrans %}
                    <h1>LibreOsteo</h1>
                    <p>Thank you to chose LibreOsteo as your software to manage your patients.</p>
                    <p>You successfully installed the software on your machine. Now you have to decide if you want to restore a previous backup of your patient file (performed from LibreOsteo) or use a new installation and register your first user on the softwarewhich will be the administrator of the software</p>
                    <p>Join the user community from the main <a href="https://www.libreosteo.org/" target="_blank">website</a> in order to share your experience with this software.</p>
                    {% endblocktrans %}
                    <div class="center-block center">
                        <button id="restore" class="btn btn-default" type="button"
                                hx-get="{% url 'partials-restore' %}"
                                hx-target="#volet-installeur">{% trans 'Restore database' %}</button>
                        or
                        <button id="register" class="btn btn-primary" type="button"
                                hx-get="{% url 'accounts-register' %}"
                                hx-target="#volet-installeur">{% trans 'Register the administrator' %}</button>
                    </div>
                </div>
            </div>
            {# Le volet qui portait `ui-view`. `signin.css` porte #}
            {# `.form-wrapper:empty {display: none}` : il doit donc rester reellement vide #}
            {# avant le premier hx-get, sans quoi un panneau vide s'affiche avec son ombre. #}
            <div class="col-md-3 td-middle form-wrapper panel panel-default" id="volet-installeur"></div>
        </div>
    </div> <!-- /container -->
{% endblock %}
