Django==5.2.17
Whoosh==2.7.4
argparse==1.2.1
django-filter==26.1
django-haystack==3.4.0
djangorestframework==3.18.0
cherrypy==18.10.0
djangorestframework-csv==3.0.0
django_compressor==4.6.0
setuptools-bower
sqlparse
netifaces2
decorator
packaging
django-statici18n==2.8.0
pytz
drf-excel==2.6.0
